body {
    /*background-color: rgba(47, 179, 255, 0.808);*/
    background-color: rgba(187, 187, 187, 0.808);
}

#estiloNavbar {
    border-radius: 25px;
    width: 400px;
}

#sec {
    background: white;
    height: 750px;
    width: auto;
    margin: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
}
.NavPer {
    background-color: rgb(61, 60, 60);

    align-content: center;
    align-self: center;
    align-items: center;
}

.ButtonStyles {
    width: 120px;
    border-radius: 25px;
}

.ContainerSize {
    height: 100%;
    /*background-color: #00ffff;*/
}

.nfooter {
    height: 5px;
}

.regis {
    text-align: center;
    margin: auto;
    background-color: white;
    width: 350px;
    transform: translateY(50%);
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5), -7px 0 10px rgba(0, 0, 0, 0.5);
}

.Irad {
    border-radius: 20px;
}
